div#user-info {
  width: 840px;
  margin: auto;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

div#user_img, div#profile_tags, div#profile_info {
  display: inline-block;
}

div#profile_tags, div#profile_info {
  vertical-align: top;
  padding: 35px;
  text-align: left;
}

div#user_img {
  margin: 5px;
}

div#profile_tags {
  margin-left: 40px;
}

div#profile_info {
  padding-left: 20px;
}

/* BadgesContainer */
div#earned-badges {
  width: 840px;
  margin: auto;
  margin-top: 25px;
  font-size: 18px;
  line-height: 24px;
}

div#badges-header {
  text-align: center;
  font-size: 32px;
  margin: 20px 0px;
}

span.badge-img {
  margin: 0px 32px;
}

img.badge-img {
  width: 220px;
}

span.badge-awarded {
  font-size: 32pt;
  color: #FF9500;
  margin-left: -50px;
}


/* StatisticsContainer */
div#stats {
  width: 840px;
  margin: auto;
  margin-top: 25px;
  font-size: 18px;
  line-height: 24px;
}

div#stats div.ui-field-contain {
  margin-left: 25px;
  margin-bottom: 0px;
}

div#stats label {
  margin-right: 20px;
}

div#stats-header {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
}

/* HighScoresContainer */
div#high-score {
  width: 840px;
  margin: auto;
  margin-top: 25px;
  font-size: 18px;
  line-height: 24px;
}

div#score-header {
  text-align: center;
  font-size: 32px;
  margin: 20px auto;
}

.ui-table-columntoggle-btn {
    display: none !important;
}
